.DS_Store
PYUTA-Multi-Cartridge/Kicad/16K/fp-info-cache
PYUTA-Multi-Cartridge/Kicad/16K/fp-lib-table
PYUTA-Multi-Cartridge/Kicad/32K/fp-info-cache
/PYUTA-Multi-Cartridge/Kicad/32K/PYUUTA32k-backups
/PYUTA-Multi-Cartridge/Kicad/16K/PYUUTA16k-backups
Pyuta_Game_Adaptor/fp-info-cache
Pyuta_Game_Adaptor/fp-lib-table
/Pyuta_Game_Adaptor/TOMY_Pyuuta_Game_Adaptor-backups
*.kicad_prl
*.lck
*.bak
*.kicad_prl
/Pyuta_IO_Expansion_Breakout/Pyuta_IO_Expansion_Breakout-backups
Pyuta_Game_Adaptor/sym-lib-table
/Tomy_Pyuta_Power_Supply/Tomy_Pyuta_Power_Supply-backups
Tomy_Pyuta_Power_Supply/fp-info-cache
/Tomy_Pyuuta_Power_Supply/Tomy_Pyuuta_Power_Supply-backups
Tomy_Pyuuta_Power_Supply/fp-info-cache
Tomy_Pyuuta_Specs.pxd
*.pages
/Pyuuta_Game_Adaptor/TOMY_Pyuuta_Game_Adaptor-backups
Pyuuta_Game_Adaptor/fp-lib-table
Pyuuta_Game_Adaptor/sym-lib-table
Pyuuta_Game_Adaptor/fp-info-cache
Documentation/Tomy_Pyuuta_mkII_BOM.numbers
/Pyuuta_IO_Expansion_Breakout/Pyuuta_IO_Expansion_Breakout-backups
Pyuuta_Keyboard_Ribbon/Part_A/fp-info-cache
Pyuuta_Keyboard_Ribbon/Part_B/fp-info-cache
/Pyuuta_Keyboard_Ribbon/Part_A/Pyuuta_Keyboard_Ribbon_A-backups
/Pyuuta_Keyboard_Ribbon/Part_B/Pyuuta_Keyboard_Ribbon_B-backups
Schematics/Tomy_Pyuuta_mkII_AV/\#auto_saved_files\#
Schematics/Tomy_Pyuuta_mkII_AV/fp-info-cache
/Schematics/Tomy_Pyuuta_mkII_AV/Tomy_Pyuuta_mkII_AV-backups
Pyuuta-Multi-Cartridge/Kicad/32K/fp-info-cache
Pyuuta_16KB_Multi_Cartridge/fp-info-cache
/Pyuuta_16KB_Multi_Cartridge/Tomy_Pyuuta_16KB_Multi_Cartridge-backups
